body{
	text-align:center;
}

#qmnting{
	width:90%;
	border:2px solid #ccc;
	background:#fff;
	border-radius:5px;
	padding:10px 0 0 0;
	margin:10px auto;
}

#qmnting input, #qmnting textarea{
	border:0;
	font-family:arial;
	font-size:14px;
	padding:5px;
}


#qmnting #qmnt-box-bottom{
	padding:10px 10px 10px 10px;
	text-align:right;
	background:#ebebeb;
}

#qmnt-form{
	margin:0;
}

#qmnting input[type=text], #qmnting input[type=email] {
	width:30%;
	margin:auto;
	border-bottom:2px solid #bfbfbf;
	transition: border 0.3s ease;
	display: inline-block;
	position:relative;
}

#qmnting input[type=text]:focus, #qmnting input[type=email]:focus{
	border-bottom:2px solid #8c8c8c;
}

#qmnting input[type=submit], #qmnting input[type=button]{
	cursor:pointer;
	font-weight:bold;
	color:#fff;
	padding:10px 20px 10px 20px;
	border-radius:5px;
	background:#00cc66;
}

#qmnting textarea{
	width:95%;
  resize: none;
	margin:10px 0 0 0;
  overflow: hidden;
	min-height:50px;
}

#qmnting textarea:focus, #qmnting input:focus{
	outline:none;
}

#qmnt-section{
	width:90%;
	margin:0 auto;
	text-align:left;
	padding:10px;
	counter-reset: section;
}

details{
	background:#eaeaea;
	margin-bottom:10px;
	padding:5px;
	border-radius:5px;
}

details summary{
    counter-increment: section;
	color:#4d4d4d;
	outline:none;
	cursor:default;
	padding:5px;
}

details summary .qmnt-user, details summary .qmnt-user a{
	font-weight: bold;
	color:#1a1a1a;
}

details summary .qmnt-date{
	font-size:12px;
}

details summary::-webkit-details-marker{
	display:none;
}

details summary:after{
	background: rgba(0, 255, 153, 0.5);
	border-radius: 50%;
	font-family:courier;
	content: counter(section);
	color: #fff;
	float: left;
	font-size: 1em;
	font-weight: bold;
	margin: -5px 10px 0 0;
	padding: 5px 0 5px 0;
	text-align: center;
	width: 30px;
}

details[open] summary:after {
	content: counter(section);
	background:rgba(255,0,0,0.15);
}

details blockquote{
	margin-left:45px;
	color:#666;
}

#qmnt-rep-button{
	cursor:pointer;
	color:#666;
	font-size:13px;
	font-weight:bold;
}

#qmnt-qmnid{
	font-size:12px;
	opacity:0.5;
	padding:0 5px 0 20px;
}
